include _mixins.jade

- var _ = locals._;

doctype
html
    head
      meta(charset="utf-8")
      link(rel='shortcut icon', type='image/x-icon' href='https://redbooth.com/wp-content//themes/redbooth_dev_portal/favicon.ico')

      - var seo_tags = custom_helpers.parseMetadata(api.metadata);
      each tag in seo_tags
        if (tag.name === 'NAME')
          title= tag.value
        else
          meta(name=tag.tag_name, content=tag.value)

      link(rel='stylesheet', href='assets/css/application.css')

    body
      div.container
        .row
          .col-md-2
            +MainNav()

          .col-md-9
            .row
              .col-md-12
                header.rb-docs-main-header
                  h1= api.name || 'Redbooth API Documentation'

                if api.description
                  .description!= markdown(api.description)
              .col-md-9
                +Content('primary', false)
              .col-md-3
                +ResourceNavigation()

      -// jQuery from CDN
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
      - // In development we show all the files. In production we generate a compiled version
      if locals.env === 'development'
        script(type='text/javascript', src='assets/javascripts/vendor/bootstrap.js')
        script(type='text/javascript', src='assets/javascripts/application.js')
      else
        script(type='text/javascript', src='assets/javascripts/main.js')


